@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction/webfonts/junction-bold.eot');
    src: url('../fonts/junction/webfonts/junction-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/junction/webfonts/junction-bold.woff') format('woff'),
    url('../fonts/junction/Junction-bold.otf') format('opentype'),
    url('../fonts/junction/webfonts/junction-bold.ttf') format('truetype'),
    url('../fonts/junction/webfonts/junction-bold.svg#junctionbold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TheNeueBlack';
    src: url('../fonts/TheNeueBlack/TheNeue-Black.woff2'),
    url('../fonts/TheNeueBlack/TheNeue-Black.woff') format('woff'),
    url('../fonts/TheNeueBlack/TheNeue-Black.otf') format('opentype'),
    url('../fonts/TheNeueBlack/TheNeue-Black.ttf') format('truetype');
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Junction', sans-serif;
    font-weight: bold;
    color: #000;
    background-color: #F2FF5B;
    transition: font-size 500ms;
}
body.black-white {
    color: #000;
    background-color: #FFFFFF;
}
.leaflet-tile-pane{
    transition: filter 500ms;
}
body.black-white .leaflet-tile-pane{
    filter: invert(0.9);
}
body.small-font {
    font-size: 80%;
}
body.large-font {
    font-size: 120%;
}
.leaflet-marker-icon {
    transition: width 500ms, height 500ms;
}
body.large-font .leaflet-marker-icon {
    width: 37px !important;
    height: 56px !important;
}
body.small-font .leaflet-marker-icon {
    width: 25px !important;
    height: 38px !important;
}
.leaflet-container {
    font-family: 'Junction', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #000000;
    background-color: #F7FF9D;
}
.marker-cluster div {
    font-family: 'Junction', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
}
button,
input {
    font-family: 'Junction', sans-serif;
    font-weight: bold;
    font-size: 1em;
    background-color: transparent;
    outline: none;
    border: 0;
    color: #000000;
    padding: 0;
}
button {
    cursor: pointer;
}
html,
body,
main,
.mannheim-under-construction-map-wrapper,
.mannheim-under-construction-map,
.mannheim-under-construction-onboarding {
    width: 100%;
    height: 100%;
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    font-size: 1.1em;
}
.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out  {
    font-size: 1.35em;
}
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
    font-size: 0.65em;
}
.font-neue-black {
    font-family: 'TheNeueBlack', sans-serif;
    font-variant-ligatures: none;
}
.font-enable-ligatures {
    font-variant-ligatures: normal;
}
.content-player .waveform > svg #progress {
    fill: #888888;
}
.content-player .waveform > svg #remaining {
    fill: #000000;
}
body.black-white .content-player .waveform > svg #remaining,
body.black-white .leaflet-sidebar-content svg,
body.black-white .close-button svg,
body.black-white .onboarding-arrow,
#black_white_switcher polygon:first-of-type {
    fill: #FFFFFF;
}
body.black-white #black_white_switcher polygon:first-of-type{
    fill: #F2FF5B;
}
svg {
    width: 100%;
    height: 100%;
}
.content-player .waveform > svg {
    cursor: pointer;
}
.content-player > .waveform {
    padding: 0 10px;
}
.content-player,
.content-player > div,
.content-player > button {
    align-items: center;
    display: flex;
}
.content-player button {
    cursor: pointer;
    width: 60px;
    flex-shrink: 0;
}
.leaflet-zoom-box,
.leaflet-bar a,
.leaflet-bar a.leaflet-disabled,
.leaflet-container .leaflet-control-attribution,
.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
    color: #000;
    background-color: #F2FF5B;
}
body.black-white .leaflet-sidebar-tabs,
body.black-white .leaflet-sidebar-tabs > button,
body.black-white .leaflet-zoom-box,
body.black-white .leaflet-bar a,
body.black-white .leaflet-bar a.leaflet-disabled,
body.black-white .leaflet-container .leaflet-control-attribution,
body.black-white .marker-cluster-small div,
body.black-white .marker-cluster-medium div,
body.black-white .marker-cluster-large div {
    background-color: #FFFFFF;
}
body.black-white .leaflet-container {
    color: #FFFFFF;
    background-color: #000000;
}
.leaflet-bar a:hover {
    color: #000;
    background-color: #E2EF4B;
}
body.black-white .leaflet-sidebar-tabs > button:hover,
body.black-white .leaflet-bar a:hover {
    background-color: #EEEEEE;
}
#mannheim-under-construction-no-js-error {
    text-align: center;
    background: #F2FF5B;
    height: 100%;
    width: 100%;
    display: grid;
    align-content: center;
    z-index: 4000;
    position: fixed;
    left: 0;
    top: 0;
}
.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
    background-color: unset;
}
.leaflet-touch .leaflet-bar a:first-child,
.leaflet-touch .leaflet-bar a:last-child {
    border-radius: 0;
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: 0;
}
.leaflet-sidebar-left {
    z-index: 1999;
}
.leaflet-sidebar-right.collapsed ~ .leaflet-sidebar-left {
    z-index: 2000;
}
body .leaflet-sidebar:not(.collapsed) ~ .leaflet-map-pane {
    opacity: 0.4;
}
body.black-white .leaflet-sidebar:not(.collapsed) ~ .leaflet-map-pane {
    opacity: 0.6;
}
.leaflet-sidebar-tabs .legal-link {
    height: 30px;
    font-size: 0.5em;
    line-height: 30px;
    right: 0;
    width: 100%;
}
#privacy_button,
#play_tab_button,
#back_button {
    position: absolute;
    bottom: 0;
}
button.close-button{
    height: 60px;
    width: 60px;
    position: absolute;
    right: 0;
    top: 0;
}
.search-intro-text {
    margin-right: 60px;
}
#imprint_button {
    position: absolute;
    bottom: 30px;
}
.leaflet-sidebar-left .leaflet-sidebar-content2 {
    left: 420px;
}
#play_tab_button {
    display: none;
}
#back_button {
    display: block;
}
.leaflet-sidebar-left.collapsed #play_tab_button {
    display: block;
}
.leaflet-sidebar-left.collapsed #back_button {
    display: none;
}
.mannheim-under-construction-onboarding {
    background-color: rgba(255, 255, 217, 0.5);
    position: fixed;
    z-index: 3000;
    display: none;
    left: 0;
    top: 0;
    align-items: center;
    cursor: pointer;
}
body.black-white .mannheim-under-construction-onboarding {
    background-color: rgba(0, 0, 0, 0.5);
}
.mannheim-under-construction-onboarding.active {
    display: grid;
}
.mannheim-under-construction-onboarding.active ~ .leaflet-map-pane .leaflet-marker-pane,
.mannheim-under-construction-onboarding.active ~ .leaflet-control-container,
.mannheim-under-construction-onboarding.active ~ .leaflet-sidebar-right.collapsed,
.mannheim-under-construction-onboarding.active ~ .leaflet-sidebar .leaflet-sidebar-content,
body.sidebar-open .leaflet-sidebar.collapsed,
body.sidebar-open .leaflet-control-container,
body.search-results-open .leaflet-sidebar.collapsed,
body.search-results-open .leaflet-control-container,
body.deepdive-open .leaflet-sidebar.collapsed,
body.deepdive-open .leaflet-control-container {
    visibility: hidden;
}
.onboarding-arrow {
    position: absolute;
    left: 60px;
    width: 60px;
    height: 60px;
}
#onboarding-arrow-1 {
    top: 10px;
}
#onboarding-arrow-2 {
    top: 150px;
}
#onboarding-arrow-3 {
    bottom: 10px;
    transform: rotate(-90deg);
}
#onboarding-marker {
    position: absolute;
    left: 60px;
    bottom: 120px;
    width: 60px;
    height: 60px;
}
.onboarding-explainer {
    position: absolute;
    left: 130px;
    max-width: 300px;
    font-size: 1.1em;
}
.large-font .onboarding-explainer {
    max-width: 450px;
}
#onboarding-explainer-1 {
    top: 10px;
}
#onboarding-explainer-2 {
    top: 150px;
}
#onboarding-explainer-3 {
    bottom: 120px;
}
#onboarding-explainer-4 {
    bottom: 10px;
}
@media (min-width: 480px) {
    #onboarding-explainer-1 {
        top: 60px;
    }
    #onboarding-arrow-1 {
        top: 60px;
    }
    #onboarding-explainer-4 {
        bottom: 60px;
    }
    #onboarding-arrow-3 {
        bottom: 60px;
    }
    .under-construction-title span {
        font-size: 1.8em;
    }
}
#onboarding-start-button {
    font-size: 4em;
    text-align: center;
    font-family: 'TheNeueBlack', sans-serif;
    font-variant-ligatures: none;
}
.onboarding-welcome {
    font-size: 1.1em;
    position: absolute;
    right: 90px;
    top: 60px;
    overflow: auto;
    max-width: 350px;
    display: none;
}
.onboarding-welcome p+p {
    padding-left: 1em;
}
.mannheim-under-construction-search{
    display: flex;
    margin-top: 40px;
}
.mannheim-under-construction-search button{
    height: 60px;
    width: 60px;
    flex-shrink: 0;
}
.mannheim-under-construction-search button svg {
    stroke: #000000;
}
body.black-white .mannheim-under-construction-search button svg {
    stroke: #FFFFFF;
}
.mannheim-under-construction-search input[type="search"]{
    background-color: #FFFFFF;
    width: 100%;
    height: 60px;
    border: 2px black solid;
    text-align: left;
}
.filter-box select,
.leaflet-sidebar-content,
.onboarding-welcome {
    scrollbar-color: #000000 #F2FF5B;
}
body.black-white .filter-box select,
body.black-white .leaflet-sidebar-content,
.onboarding-welcome {
    scrollbar-color: #000000 #FFFFFF;
}
.filter-box select::-webkit-scrollbar,
.leaflet-sidebar-content::-webkit-scrollbar,
.onboarding-welcome::-webkit-scrollbar {
    background: #F2FF5B;
}
body.black-white .filter-box select::-webkit-scrollbar,
body.black-white .leaflet-sidebar-content::-webkit-scrollbar,
body-black-white .onboarding-welcome::-webkit-scrollbar {
    background: #FFFFFF;
}
.filter-box select::-webkit-scrollbar-button,
.leaflet-sidebar-content::-webkit-scrollbar-button,
.onboarding-welcome::-webkit-scrollbar-button {
    display: none;
}
.filter-box select::-webkit-scrollbar-thumb,
.leaflet-sidebar-content::-webkit-scrollbar-thumb,
.onboarding-welcome::-webkit-scrollbar-thumb {
    background: #000000;
}
a, a:visited, a:hover, a:active, .leaflet-container a {
    color: #000000;
    text-decoration: underline;
}
body.black-white .leaflet-sidebar a,
body.black-white button {
    color: #FFFFFF;
}
.leaflet-sidebar, .leaflet-touch .leaflet-bar a {
    text-decoration: none;
}
.search_sidebar {
    width: 100%;
    display: none;
}
.search-results-open .search_sidebar{
    display: block;
}
:root {
    --sidebar-background: url('../img/uc_c_yllw_muster.svg');
}
.leaflet-sidebar-content {
    background: var(--sidebar-background) repeat;
    background-size: 6em;
}
body.black-white .leaflet-sidebar-content {
    color: #FFFFFF;
    background: var(--sidebar-background) repeat;
    background-size: 6em;
}
#search-tags .tag,
.content-tags .tag {
    cursor: pointer;
}
.content-tags{
    margin-bottom: 30px;
}
#search-tags .tag-result {
    display: none;
    margin-left: 20px;
}
#search-tags .tag-result.active {
    display: block;
}
#search-tags .tag-result li,
#search-fulltext .audios li {
    cursor: pointer;
}
#search-fulltext .message{
    margin-right: 60px;
}
body.wait .leaflet-sidebar-pane *,
body.wait .leaflet-sidebar-pane {
    cursor: wait;
}
#right_sidebar_title {
    height: calc(100% - 120px);
}
.leaflet-sidebar-right:not(.collapsed) .leaflet-sidebar-tabs {
    display: none;
}
.leaflet-sidebar-right:not(.collapsed) .leaflet-sidebar-content{
    right: 0;
}
.leaflet-bottom .leaflet-control-zoom {
    margin-bottom: 20px;
}
#info.active,
#search.active {
    display: flex;
    flex-wrap: wrap;
}
#info .right-part,
#info .open-middle-part,
#info .open-right-part,
#info .left-part {
    width: 100%;
}
#info .content,
#search .content {
    margin: 0 10px;
}
#info .open-middle-part,
#info .open-right-part {
    display: none;
}
.deepdive-open #info .open-middle-part,
.deepdive-open #info .open-right-part {
    display: block;
}
.deepdive-open #info .right-part {
    display: none;
}
#info button {
    display: flex;
}
#info #info-menu-button {
    height: 60px;
    width: 60px;
}
#info .info-menu {
    display: flex;
}
.under-construction-title span {
    display: block;
    font-size: 2.1em;
    text-transform: uppercase;
    word-wrap: anywhere;
    font-family: 'TheNeueBlack', sans-serif;
    font-variant-ligatures: none;
    transition: margin-top 500ms;
}
.under-construction-title div {
    height: 4.6em;
    display: flex;
}
.under-construction-title .title-line-1 span:nth-child(2n+1),
.under-construction-title .title-line-2 span:nth-child(2n),
.under-construction-title .title-line-3 span:nth-child(2n+1) {
    margin-top: 1em;
}
.deepdive-open .under-construction-title .title-line-1 span:nth-child(2n+1),
.deepdive-open .under-construction-title .title-line-2 span:nth-child(2n),
.deepdive-open .under-construction-title .title-line-3 span:nth-child(2n+1) {
    margin-top: 0;
}
.search-filters {
    order: 1;
}
#search-tags {
    order: 3;
}
#search-fulltext {
    order: 2;
}

@media (min-width:768px) {
    #search-tags {
        order: 2;
    }
    #search-fulltext {
        order: 3;
    }
    .leaflet-sidebar-right:not(.collapsed) {
        width: 760px;
    }
    .leaflet-sidebar-right:not(.collapsed) ~ .leaflet-control-container .leaflet-right {
        right: 770px;
    }
    body.sidebar-open:not(.deepdive-open) .leaflet-sidebar.collapsed,
    body.sidebar-open:not(.deepdive-open) .leaflet-control-container{
        visibility: visible;
    }
    #info .right-part,
    #info .left-part {
        width: 50%;
    }
    .search-results-open .search_sidebar,
    .search-results-open .search-filters,
    .deepdive-open #info .left-part,
    .deepdive-open #info .open-middle-part,
    .deepdive-open #info .open-right-part {
        width: 33.33%;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .under-construction-title span {
        font-size: 1.8em;
    }
    .under-construction-title div {
        height: 4em;
    }
}
@media (min-width:1200px) {
    .onboarding-welcome {
        display: block;
    }
    .leaflet-sidebar-right:not(.collapsed) {
        width: 900px;
    }
    .leaflet-sidebar-right:not(.collapsed) ~ .leaflet-control-container .leaflet-right {
        right: 910px;
    }
}
.search-results-open .leaflet-sidebar-left,
.deepdive-open .leaflet-sidebar-right {
    width: 100%;
}
#deepdive-more-info,
#search-extend {
    margin-left: auto;
    margin-right: 0;
    display: flex;
}
.search-results-open #search-extend {
    display: none;
}
#deepdive-more-info span,
#search-extend span {
    align-self: center;
}
#deepdive-more-info svg,
#search-extend svg {
    width: 60px;
    height: 60px;
}
#info figure img {
    max-width: 400px;
    width: 100%;
    height: auto;
    background: #FFFFFF;
}
.filter-box {
    margin-bottom: 10px;
    margin-right: 60px;
    display: none;
    border: 2px black solid;
}
.search-results-open .filter-box {
    display: block;
}
.filter-box label {
    cursor: pointer;
    margin: 0;
    background-color: #F2FF5B;
    padding: 0.5em;
    text-align: left;
    font-family: 'Junction', sans-serif;
    font-weight: bold;
    font-size: 1em;
    outline: none;
    border: 0;
    display: flex;
}
.filter-box select {
    display: none;
    background-color: #F2FF5B;
    color: #000000;
    width: 100%;
    height: 100px;
    margin: 0 0 5px 0;
    text-align: left;
    font-family: 'Junction', sans-serif;
    font-weight: bold;
    font-size: 1em;
    outline: none;
    border: 0;
    padding: 0.5em;
    overflow: auto;
}
body.black-white .filter-box{
    border: 2px white solid;
}
body.black-white .filter-box label,
body.black-white .filter-box select {
    background-color: #000000;
    color: #FFFFFF;
}
.filter-box option {
    cursor: pointer;
}
.filter-box .arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #000;
    margin-right: 0;
    margin-left: auto;
}
body.black-white .filter-box .arrow {
    border-top: 20px solid #FFFFFF;
}
.filter-box input[type=checkbox]:checked ~ select {
    display: flex;
}
.filter-box input[type=checkbox]:checked ~ label {
    border-bottom: 0;
}
.filter-box input[type=checkbox]:checked ~ label .arrow {
    border-right: 20px solid #000;
    border-left: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
body.black-white .filter-box input[type=checkbox]:checked ~ label .arrow {
    border-right: 20px solid #FFFFFF;
}
#search button[type="reset"] {
    padding: 10px 0;
    display: none;
}
.search-results-open #search button[type="reset"] {
    display: block;
    margin-right: 60px;
    margin-left: auto;
}
body:not(.black-white) .dark-theme {
    display: none;
}
body.black-white .light-theme {
    display: none;
}
